* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	/* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.navbar {
	/* background-color: #FDF2E9; */
	height: 70px;
	width: 100%;
	padding: 20px;
}

.nav-item a:hover {
	color: red;
}

main {
	display: grid;
	align-items: center;
	background-color: #F5B7B1;
	height: calc(100vh - 70px);
	padding: 20px;
	text-align: center;
}

.container {
	
	.parrafo {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	img {
		max-width: 100%;
	}
}

.scale-down-center:hover {
	animation: scale-down-center 0.4s;
}

@keyframes scale-down-center {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.9);
	}
}